main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

div {
    filter: drop-shadow(-40px 20px 0 #181818);
    transition: 1.2s;
}

a {
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
    text-decoration: none;
    font: bold 36px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    background-color: orange;
    color: #FFF;
    padding: 40px 80px 40px 120px;
    transition: 1.2s;
}

a:hover {
    clip-path: none;
    background-color: #FFF;
    color: orange;
    padding: 40px;
    border: 10px solid orange;
    border-radius: 100%;
}

div:hover {
    /* filter: none; */
    filter: drop-shadow(-5px 10px 5px #181818);
}