// homePage
@use 'reset';
@use 'foundation';

// variables
$content-space: 5% 0;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    width: 20%;
    // background-color: red;
}

.boundary {
    width: 80%;
    height: 5px;
    background-image: linear-gradient(to right, red, green, blue);
}

#examplerow {
    width: 80%;
    min-height: 90%;
    margin: $content-space;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: red;
}

img {
    box-shadow: 0px 0px 20px #181818;
}

figcaption {
    margin: 5px 0 0 0;
    padding: 5px;
    background-color: #666666;
    border-radius: 2px 2px 100% 2px;
}

#secondExample {
    margin: $content-space;

    figure {
        box-shadow: -10px -10px 0 palevioletred, 10px 10px 0 cyan, 0 0 500px 50px #ffffff;
    }
}

#thirdExample {
    margin: $content-space;
    width: 1200px;
    height: 1200px;
    // background-color: red;
    background-image: radial-gradient(600px, #DFDFDF, #DFDFDF, #DFDFDF, #DFDFDF, #DFDFDF, olivedrab);
    box-shadow: -10px -10px 0 0 olivedrab, 10px 10px 0 0 olivedrab, -10px 10px 0 0 olivedrab, 10px -10px 0 0 olivedrab, -20px -20px 0 0 orange, 20px 20px 0 0 purple;
    // , -20px 20px 0 0 orange, 20px -20px 0 0 purple
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    border-radius: 10px;

    #dOne {
        margin: 20% 0 0 25%;
        width: 20%;
        height: 20%;
        background-color: orange;
        border-radius: 20% 20% 0 20%;
    }

    #dTwo {
        margin: auto;
        width: 20%;
        height: 20%;
        background-color: olivedrab;
        border-radius: 0 60% 0 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: #DFDFDF;
            letter-spacing: 2px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            transition: 0.6s;
        }

        a:hover {
            color: #181818;
            text-shadow: 0 0 10px #DFDFDF;
            font-size: 22px;
        }
    }

    #dThree {
        margin: 0 5% 0 55%;
        width: 20%;
        height: 20%;
        background-color: purple;
        border-radius: 0 20% 20% 20%;
    }
}