// homePage
@use 'reset';
@use 'foundation';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    width: 20%;
    // background-color: red;
}

#examplerow {
    width: 80%;
    min-height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: red;
}

#exampleImage {
    display: flex;
}

img {
    box-shadow: 0px 0px 20px #181818;
}

figcaption {
    margin: 5px 0 0 0;
    padding: 5px;
    background-color: #666666;
    border-radius: 2px 2px 100% 2px;
}